@import '../Color.scss';

.detailPage {
  display: flex;
  gap: 40px;

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;

    img {
      width: 100%;
      margin-bottom: 30px;
    }

    .noFaceImage {
      width: 100%;
      height: 388.875px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $gray300;
      color: white;
      font-size: 3.6rem;
      border-radius: 8px;
      margin-bottom: 30px;
    }

    %detailPageLabel {
      border-radius: 8px;
      margin-bottom: 20px;
      width: 100%;
      font-size: 2.6rem;
      text-align: center;
      padding: 15px 0;
    }

    .faceLabel {
      @extend %detailPageLabel;
      border: 1px solid $gray400;
    }

    .roomLabel {
      @extend %detailPageLabel;
      border: 1px solid $lightBlue400;
      color: white;
      cursor: pointer;
      background: $lightBlue400;

      &Red {
        @extend .roomLabel;
        border: 2px solid $red500;
        background: $red400;
      }
    }

    .toReservations {
      @extend %detailPageLabel;
      border: 1px solid $blue500;
      color: white;
      cursor: pointer;
      background: $blue500;
    }

    .toCheckin {
      @extend %detailPageLabel;
      border: 1px solid $yellow500;
      color: white;
      cursor: pointer;
      background: $yellow500;
    }

    .maintenance {
      width: 100%;
      margin-bottom: 10px;

      .items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 10px;

        .item {
          width: 50%;
          cursor: pointer;

          .default {
            width: 100%;
            color: #fff;
            background-color: $cyan400;
            text-shadow: 1px 2px 4px rgba(6, 182, 212, 0.6);
            font-size: 2.6rem;
            border-radius: 10px;
            text-align: center;
            padding: 10px 0;
          }

          .light {
            @extend .default;
            background-color: $cyan200;
          }
        }
      }
    }

    .back {
      width: 100%;
      display: flex;

      &Button {
        background: $blue600;
        color: white;
        border: none;
        font-size: 2.6rem;
        letter-spacing: 20px;
        text-indent: 20px;
        border-radius: 8px;
        padding: 15px 30px;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    font-size: 3.2rem;
    line-height: 1.5;
    font-family: 'UD';

    .name {
      font-size: 4rem;
      margin: 10px 0;
    }

    .input {
      height: 32px;
      width: 300px;
      border: 1px solid $gray300;
      border-radius: 8px;
      font-size: 2.4rem;
      padding: 0 10px;
      font-family: 'UD';

      &Address {
        @extend .input;
        width: 700px;
      }
    }

    .infoItem {
      display: flex;
      align-items: center;
    }

    .numbersSection {
      display: flex;
      grid-gap: 40px;

      .selectShort {
        width: 100px;
        font-size: 1.8rem;
      }
    }

    .select {
      width: 200px;
      font-size: 1.8rem;
    }

    .roomInfo {
      text-align: center;
      margin-top: 20px;

      .roomListHeader {
        display: grid;
        grid-template-rows: 1em;
        height: 40px;
        font-size: 2.6rem;
        align-items: center;
        background: #00b0f0;
        padding: 15px;
        color: white;
        align-content: center;
        grid-template-columns: 150px 250px 250px 150px;
      }

      .roomList {
        max-height: 300px;
        overflow-y: scroll;
        background: white;

        .listItem {
          display: grid;
          padding: 15px;
          font-size: 2rem;
          height: 30px;
          align-items: center;
          color: #3968bf;
          font-family: 'Segoe UI';
          align-items: baseline;
          border-bottom: 1px solid #c7c7c7;
          overflow: hidden;
          grid-template-columns: 150px 250px 250px 150px;
          transition: 0.3s;
          &:hover {
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.16);
          }
        }
      }
    }

    .checkinCompleteButton {
      display: flex;
      justify-content: center;
    }
  }
}

.forceCheckout {
  position: absolute;
  top: 980px;
  left: 1600px;

  &Button {
    background: $gray400;
    color: white;
    font-size: 2.6rem;
    border-radius: 8px;
    padding: 20px 30px;
    border: none;
  }
}
