@import '../Color.scss';

.reservationList {
  display: flex;
  grid-gap: 40px;

  .left {
    .leftImage {
      width: 500px;
      height: 275px;
    }
  }

  .right {
    .listTitle {
      font-size: 3rem;
      margin: 0 0 10px 10px;
    }

    .listTableContainer {
      overflow-y: scroll;
      border-radius: 10px;
      border-bottom: 1px solid $gray100;
      height: 730px;
      box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8);

      table {
        table-layout: fixed;
        width: 100%;
        text-align: center;
        border-spacing: 0;

        thead {
          height: 100px;
          color: white;
          font-size: 2.4rem;
          background: $lightBlue400;
          position: sticky;
          box-shadow: 0 4px 6px rgba(2, 132, 195, 0.2);
          top: 0;
          z-index: 10;
        }

        tbody {
          background: white;
          box-shadow: 0 0 15px rgba(0 0 0/0.2) inset;

          tr {
            transition: 0.3s;

            &:hover {
              box-shadow: 0 5px 30px rgba(0, 0, 0, 0.16);
            }

            td {
              font-family: 'Segoe UI';
              font-size: 2.6rem;
              border-bottom: 1px solid $gray200;
              padding: 15px;
              cursor: default;
              height: 42px;
            }

            .name {
              text-align-last: left;
              cursor: pointer;
              color: $blue500;
            }
          }
        }
      }
    }
  }
}
