@import '../Color.scss';

.roomDetail {
  display: flex;
  flex-direction: row;

  .contents {
    width: 1670px;

    .statusBar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 20px 40px;
    }

    .container {
      display: flex;
      height: 680px;
      border-radius: 8px;
      border: 1px solid $indigo200;
      padding: 10px 30px;
      margin: 0 30px;
      background: $lime100;
      box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.15);

      .imageSection {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        .title {
          position: relative;
          width: fit-content;
          background: $lime100;
          font-size: 3rem;
          display: flex;
          align-items: center;
          margin-bottom: 20px;

          .calendar {
            margin-left: 10px;
            color: $gray600;
          }
        }

        img {
          box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
        }
      }

      .info {
        margin-top: 10px;
        margin-left: 30px;

        .guestInfo {
          border: 1px solid $indigo200;
          height: 265px;
          font-size: 2.5rem;
          padding: 25px 30px 5px;
          margin: 22px 0 60px;
          border-radius: 8px;
          line-height: 1.5;
          cursor: pointer;
          background: $lime50;
          box-shadow: 6px 6px 12px rgba(101, 163, 13, 0.2) inset;

          &NoReaservation {
            @extend .guestInfo;
            cursor: auto;
          }

          .title {
            position: relative;
            width: fit-content;
            margin-top: -49px;
            background: $lime100;
            font-size: 3rem;
            padding: 2px 20px;
            border-radius: 10px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
          }

          &Container {
            display: flex;
            justify-content: space-between;
            overflow-y: scroll;
            height: inherit;

            .texts {
              .inline {
                display: flex;
                gap: 30px;
              }

              .reservation {
                margin: 10px 13px 0 0;
                background: #2a4;
                display: inline;
                padding: 0 10px;
                border-radius: 8px;
                color: white;
                font-size: 2.4rem;
                padding: 4px 20px;
              }

              .roomDetailLabel {
                margin: 5px 0;

                .roomDetail_checkin {
                  @extend .reservation;
                  background: #8b1;
                }
              }
            }

            .guestImage {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-bottom: 5px;

              img {
                height: 230px;
                border-radius: 8px;
              }

              .noFaceImage {
                width: 414px;
                height: 230px;
                color: white;
                font-size: 3rem;
                background: $gray300;
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }

        .cleaningInfo {
          height: 240px;
          margin-top: 11px;

          .title {
            position: relative;
            width: fit-content;
            margin-top: -49px;
            background: $lime100;
            font-size: 3rem;
            padding: 2px 20px;
            margin-left: 30px;
            border-radius: 10px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
          }

          &Container {
            border: 1px solid $indigo200;
            height: 266px;
            margin-top: -22px;
            border-radius: 8px;
            font-size: 2.6rem;
            padding: 25px 30px 0;
            background: $lime50;
            overflow-y: scroll;
            box-shadow: 6px 6px 12px rgba(101, 163, 13, 0.2) inset;

            .datetime {
              font-size: 2.4rem;
            }

            .staffs {
              display: inline-flex;

              .staffSelect {
                height: 40px;
                width: 180px;
                font-size: 2.2rem;
                margin-left: auto;
                margin-right: 15px;
                border-radius: 8px;
                background: white;
                text-align-last: center;
              }
            }

            .statusCleaning {
              font-size: 2.4rem;
              background: $lightBlue400;
              color: white;
              padding: 4px 25px;
              border-radius: 80px;
              transition-duration: 0.3s;
            }

            .statusCleaned {
              @extend .statusCleaning;
              background: $amber400;
            }

            .amenities {
              margin: 15px 0;
              font-size: 2.2rem;

              .amenity {
                margin: 0 13px 10px 0;
                background: white;
                padding: 1px 14px 0;
                border-radius: 30px;
                color: $lightBlue500;
                display: inline-block;
                border: 2px solid $lightBlue500;
              }
            }
          }
        }
      }
    }

    .buttons {
      display: flex;
      color: white;
      justify-content: space-between;
      margin: 20px 30px;

      .back {
        background: $blue500;
        color: white;
        border: none;
        font-size: 2.6rem;
        letter-spacing: 20px;
        text-indent: 20px;
        border-radius: 8px;
        padding: 15px 30px;
      }

      .right {
        display: flex;

        .red {
          background: $red400;
          color: white;
          border: none;
          font-size: 2.6rem;
          border-radius: 8px;
          padding: 15px 30px;
        }

        .green {
          @extend .red;
          margin-left: 20px;
          background: $green500;
        }
      }
    }
  }
}
