@import '../../Color.scss';

.contents {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 690px;

	table {
		font-size: 4rem;
		border-collapse: collapse;
		margin-bottom: 70px;
		box-shadow: -5px -5px 10px white, 5px 5px 10px rgba(0, 0, 0, 0.2);
		border-radius: 20px;

		tr {
			height: 150px;
			&:first-child {
				border-bottom: 1px solid $gray350;
				border-radius: 20px 0 0 0;
				th {
					border-radius: 20px 0 0 0;
				}
			}
			&:last-child {
				th {
					border-radius: 0 0 0 20px;
				}
			}

			th {
				width: 450px;
				text-align: left;
				font-weight: normal;
				background: $gray200;
				padding-left: 20px;
			}

			td {
				width: 600px;
				text-align: center;
				font-size: 5rem;

				input {
					transform: scale(4);
				}
			}
		}
	}

	%backupButton {
		width: 700px;
		height: 220px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: white;
		font-size: 6rem;
		font-weight: bold;
		text-shadow: 1px 1px $gray700;
		border-radius: 30px;
	}

	.backupButton {
		@extend %backupButton;
		background: $gray500;
		transition: 0.2s;
		border-bottom: 12px solid $gray600;
		box-shadow: 0 8px 12px rgba(0 0 0/0.6), 0 3px 3px rgba(255 255 255/0.3) inset;

		&:active {
			border-bottom: 2px solid $gray600;
			transition: 0.2s;
			box-shadow: 0 0 0 rgba(0 0 0/0.7), 0 5px 10px rgba(255 255 255/0.2) inset;
		}
	}

	.backupButtonLoading {
		@extend %backupButton;
		background: $gray300;
	}

	.complete {
		display: flex;
		align-items: center;
		position: absolute;
		top: 700px;
		left: 1440px;

		svg {
			font-size: 18rem;
			margin-right: 10px;
			color: $lime300;
		}

		&Message {
			font-size: 4rem;
			line-height: 1.5;
		}
	}
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	.memo {
		font-size: 2rem;
		width: 780px;
	}
}
